<div>
  <% @photos.each do |photo| %>
  <div class="photo">
  <h3>User: <%= photo.user.present? ? photo.user.email : "Unknown User" %></h3>
    <%= image_tag(photo.image_url, alt: 'Image') if photo.image_url.present? %>
  </div>
<% end %>



